---
layout: index
---

<div id="home" class="home">
    <div class="text-vcenter">
        <h1>Wir stellen uns vor</h1>
        <h3>Ihre Kandidaten zur Kommunalwahl</h3>
        <a href="#about" class="btn btn-default btn-lg">Weiter</a>
    </div>
</div>

{% for wahlkreis in site.wahlkreise %}
    <div id="wahlkreis-{{wahlkreis.id}}" class="pad-section">
        <div class="container">
            <div class="row pb-4">
                <div class="col-sm-6">
                    <h2>Wahlkreis {{ wahlkreis.id}}, {{wahlkreis.name}}</h2>
                    <p class="lead">{{wahlkreis.description}}</p>
                </div>
                <div class="col-sm-6">
                    <div id="map-{{wahlkreis.id}}" class="wahlkreis-map"></div>
                    <!-- <img src="../../../public/images/backgrounds/team.jpg" alt="" /> -->
                </div>
            </div>
            <div class="row">
                {% assign sorted_persons = site.data.candidates | sort:"listenplatz" %}
                {% for person in sorted_persons %}
                    {% if person.wahlkreis == wahlkreis.id %}
                        <div class="col-sm-3 mb-2">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ person.profilfoto[0].url }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><span>Listenplatz {{ person.listenplatz }}</span><br/> {{ person.titel }} {{ person.vorname }} {{ person.nachname }}</h5>
                                    <p class="card-text">{{ person.duIn15Wortern }}</p>
                                    <a href="kandidaten/{{ person.vorname | downcase }}-{{ person.nachname | downcase }}" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <hr>
    </div>
{% endfor %}