/* ################################################################################################ */
/* ##########################               Schriften                 ############################# */
/* ################################################################################################ */

@font-face {
  font-family: 'Pt Sans Bold';
  src: url('../fonts/gruen/ptsans/ptsans_bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gruen/ptsans/ptsans_bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gruen/ptsans/ptsans_bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/gruen/ptsans/ptsans_bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gruen/ptsans/ptsans_bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Pt Sans Regular';
  src: url('../fonts/gruen/ptsans/ptsans_regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gruen/ptsans/ptsans_regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gruen/ptsans/ptsans_regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/gruen/ptsans/ptsans_regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gruen/ptsans/ptsans_regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Arvo Regular';
  src: url('../fonts/gruen/arvo-regular/Arvo-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gruen/arvo-regular/Arvo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gruen/arvo-regular/Arvo-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/gruen/arvo-regular/Arvo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gruen/arvo-regular/Arvo-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Arvo Green';
  src: url('../fonts/gruen/arvo-green/Arvo-Green.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gruen/arvo-green/Arvo-Green.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gruen/arvo-green/Arvo-Green.woff') format('woff'), /* Modern Browsers */
       url('../fonts/gruen/arvo-green/Arvo-Green.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.arvo-regular {
	font-family: 'Arvo Regular';
}

.arvo-green {
	font-family: 'Arvo Green';
}

.pt-sans-bold {
  font-family: 'Pt Sans Bold';
}

.pt-sans-regular {
  font-family: 'Pt Sans Regular';
}

/* ################################################################################################ */
/* ##########################               Farben                    ############################# */
/* ################################################################################################ */

.gruen       { color: #46962b; }
.dark-green  { color: #0a321e; }
.yellow      { color: #ffee00; }
.dark-yellow { color: #ffd500; }
.dark-blue   { color: #4cb4e7; }
.light-blue  { color: #d4edfc; }
.magenta     { color: #e6007e; }

/* ################################################################################################ */
/* ##########################               Sonstiges                 ############################# */
/* ################################################################################################ */

* {
  font-family: 'Arvo Regular';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pt Sans Regular';
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#header {

  background-image: url("images/overlay.png"), url("../images/backgrounds/leipzig-mdr-1.jpg");
}

.avatar {
  margin: 0 0 1em 0;
  border: 0.5em solid #e6007e;
  border-radius: 50%;
  object-fit: cover;
  width: 17em;
  height: 17em;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wahlkreis-map { 
  height: 300px; 
}

/* ################################################################################################ */
/* ##########################               Parallax                  ############################# */
/* ################################################################################################ */

/* ============================================================================================== 
This copyright notice must be kept untouched in the stylesheet at all times.
The original version of this stylesheet and the associated (x)html 
is available at http://www.script-tutorials.com/bootstrap-one-page-template-with-parallax-effect/
Copyright (c) Script Tutorials. All rights reserved.
This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
================================================================================================= */

/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  /* background: url(../images/backgrounds/leipzig-mdr-tower.jpg) no-repeat center center fixed;  */
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
}

#services {
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(../images/estate.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#information .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}