---
layout: index
---

{% for candi in site.data.candidates %}
	{% if candi.id == page.id %}
		{% assign candidate = candi %}
	{% else %}
	{% endif %}
{% endfor %}

<img src="../../public/images/backgrounds/leipzig-mdr-tower.jpg" class="img-fluid pb-5" alt="Responsive image">

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h2>Listenplatz: {{ candidate.listenplatz }}</h2>
			<h1 class="post-title pt-sans-bold" style="text-transform: uppercase;">{{ candidate.titel }} {{ candidate.vorname
				}} {{ candidate.nachname }} ({{candidate.alter}})</h1>
			<img class="editable image avatar img-fluid mt-4" src="{{ candidate.profilfoto[0].url }}" alt="{{ candidate.vorname }} {{ candidate.nachname }}">
			<p>
				{{ candidate.duIn15Wortern }}
			</p>
			<p>
				<a href="{{candidate.facebook}}"><i class="fab fa-3x fa-facebook-square"></i></a>
				<a href="{{candidate.instagram}}"><i class="fab fa-3x fa-instagram"></i></a>
				<a href="{{candidate.twitter}}"><i class="fab fa-3x fa-twitter"></i></a>
				<a href="{{candidate.email}}"><i class="fas fa-3x fa-at"></i></a>
			</p>
			<div class="karte mt-4 mb-4">
				<h3>Wahlkreis {{ candidate.wahlkreis }} - wohnhaft in {{ candidate.stadtteil }}</h3>
				<div id="map-{{candidate.wahlkreis}}" class="wahlkreis-map"></div>
			</div>
			<div class="features">
				<ul class="list-group">
					<li class="list-group-item">Ausbildung: {{candidate.ausbildung}}</li>
					<li class="list-group-item">Beruf: {{candidate.beruf}}</li>
					<li class="list-group-item">Familienstand: {{candidate.familienstand}}</li>
					<li class="list-group-item">Kinder: {{candidate.kinder}}</li>
					<li class="list-group-item">Konfession: {{candidate.konfession}}</li>
					<li class="list-group-item">Mitglied seit {{candidate.mitgliedSeit}}</li>
					<li class="list-group-item">Verrücktes: {{candidate.verruecktes}}</li>
					<li class="list-group-item">Mein Lieblingsort: {{candidate.lieblingsort}}</li>
					<li class="list-group-item">Listenplatz: {{candidate.listenplatz}}</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="beschreibung">
				<p>
					{{candidate.beschreibung}}
				</p>
			</div>
			<div class="video">
				<h2 class="pt-sans-bold">
					Meine Bewerbungsrede
				</h2>
				<div class="video-container">
					<iframe width="853" height="480" frameborder="0" allowfullscreen src="{{candidate.linkZumYouTubeVideo | replace: 'watch?v=', 'embed/' }}">
					</iframe>
				</div>
				<p class="pt-sans-bold">{{ candidate.beschreibungZumYouTubeVideo }}</p>
			</div>

			<h2 class="pt-sans-bold">Tätigkeiten</h2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Von</th>
						<th scope="col">Bis</th>
						<th scope="col">Beschreibung</th>
						<th scope="col">Link</th>
					</tr>
				</thead>
				<tbody>
					{% for taetigkeit in candidate.taetigkeiten %}
					<tr>
						<td>{{taetigkeit.von}}</td>
						<td>{{taetigkeit.bis}}</td>
						<td>{{taetigkeit.beschreibung}}</td>
						<td><a href="{{taetigkeit.link}}">{{taetigkeit.link}}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<h2 class="pt-sans-bold">Mitgliedschaften</h2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Von</th>
						<th scope="col">Bis</th>
						<th scope="col">Beschreibung</th>
						<th scope="col">Link</th>
					</tr>
				</thead>
				<tbody>
					{% for mitgliedschaft in candidate.mitgliedschaften %}
					<tr>
						<td>{{mitgliedschaft.von}}</td>
						<td>{{mitgliedschaft.bis}}</td>
						<td>{{mitgliedschaft.beschreibung}}</td>
						<td><a href="{{mitgliedschaft.link}}">{{mitgliedschaft.link}}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>