<!DOCTYPE html>
<html lang="en">

{% for candi in site.data.candidates %}
    {% if candi.id == page.id %}
        {% assign candidate = candi %}
    {% else %}
    {% endif %}
{% endfor %}

<head>
    <meta charset="utf-8">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="content-language" content="{{ site.locale }}" />
    <meta name="generator" content="Jekyll v{{ jekyll.version }}">

    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">

    <link rel="stylesheet" href="../../public/css/custom.css" />
    <link rel="stylesheet" href="../../public/libs/leaflet@1.4.0.css"/>

    {% seo %}
	{% feed_meta %}
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">{{ site.navbar_title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wahlprogramm</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Wahlbezirke
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/#wahlkreis-0">Mitte</a>
                        <a class="dropdown-item" href="/#wahlkreis-1">Nordost</a>
                        <a class="dropdown-item" href="/#wahlkreis-2">Ost</a>
                        <a class="dropdown-item" href="/#wahlkreis-3">Südost</a>
                        <a class="dropdown-item" href="/#wahlkreis-4">Süd</a>
                        <a class="dropdown-item" href="/#wahlkreis-5">Südwest</a>
                        <a class="dropdown-item" href="/#wahlkreis-6">West</a>
                        <a class="dropdown-item" href="/#wahlkreis-7">Alt-West</a>
                        <a class="dropdown-item" href="/#wahlkreis-8">Nordwest</a>
                        <a class="dropdown-item" href="/#wahlkreis-9">Nord</a>
                    </div>
                </li>
        </div>
    </nav>

    {{ content }}
    
    <!-- footer -->
    <footer>
        <hr />
        <div class="container">
            <p class="text-right">Copyright &copy; Daniel Gerber, Marvin Frommhold 2019</p>
        </div>
    </footer>
    <!-- /footer -->

    <script src="../../public/libs/leaflet@1.4.0.js"></script>
    <script src="../../public/geo/wahlkreise.geojson"></script>

    <!-- attach JavaScripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <script src="../../../public/js/main.js"></script>

    {% if jekyll.environment == 'production' %}
	<!-- put in matomo tracking code -->
	{% endif %}

</body>

</html>